/* css reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
	vertical-align: baseline;    
   box-sizing: border-box;
}

html {
	display: flex;
	justify-content: center; /* This is for centering the content on large screens*/
	background-color: #3A5074;
   font-size: 20px;
}

h2 {
	font-weight: bolder;
	font-size: 1.50rem;
}

h3 {
   font-weight: bold;
   font-size: 1.25rem;
}

body {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 80%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
   align-items: center;	
   overflow-x: hidden;
}

header {
	display: flex;
	background: linear-gradient(172deg, #2B4570 65%, white 35%); 
	position: relative;
	padding: 50px;
	padding-bottom: 50px;
}

#header-pic-and-name {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

#header-picture {
   height: 300px;
	max-height: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#header-pic-name{
	position: absolute;
	color: white;
	font-size: 32px;
	font-weight: bolder;
	margin: 0;
	padding: 10px;
	z-index: 1 /* make sure it stays above background*/
}

#header-content {
	padding: 26px;
	align-self: center;
	background-color: #B4C4DC;
   min-height: 250px;
	/* nice shadow effect: */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
   overflow: auto;
   width: 100%;
}

.icons-div-header {
   display: flex;
   height: 50px;
   justify-content: end;
}

.icon-image-header {
   height: 50px;
}

section {
   padding: 50px;
   overflow: auto;
}

#mid-content {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 30px;
}

.content-box {
   display: flex;
   flex-direction: column;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.youtube-description {
   padding: 10px;
}

/* this is the youtube video's size*/
iframe {
   height: 230px;
   width: 100%;
}  

.icons-div {
   display: flex;
   flex-grow: 1;
   height: 30px;
   justify-content: flex-end;
   align-items: center;
   gap: 10px;
}

.icon-image {
   max-height: 30px;
}

footer {
   color: white;
   background-color: #2B4570;
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
   /*
   padding-top: 30px;
   padding-bottom: 30px;
   */
   overflow: auto;
}

#footer-text {
   display: flex;
   flex-direction: column;
   gap: 35px;
   padding: 50px;
}   

.icons-div-footer {
   display: flex;
   height: 30px;
   justify-content: start;
}

#email-div {
   display: flex;
   align-items: center;
}

.email-icon {
   filter: brightness(0) invert(1);
   height: 30px;
   margin-right: 10px;
}

#footer-picture {
   max-width: 730px;
}

/* youtube red */
.youtube-icon {
   width: 50px;
   filter: brightness(0) saturate(100%) invert(27%) sepia(95%) saturate(2500%) hue-rotate(355deg) brightness(95%) contrast(105%);
}
/* twitch purple */
.twitch-icon {
   width: 50px;
   filter: brightness(0) saturate(100%) invert(23%) sepia(98%) saturate(4272%) hue-rotate(265deg) brightness(93%) contrast(101%);
}

/* media querry for smaller screens */ 

@media (max-width: 1370px) {
   footer {
      display: flex;
      flex-direction: column;
   }
}   

/* media querry for mobile apps */


@media (max-width: 786px) {
   body {
      width: 100%;
   }
   header {
      display: flex;
      flex-direction: column;
   }

   #header-content {
      max-width: 300px;
   }

   #mid-content {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   }

   footer {
      display: flex;
      flex-direction: column;
   }

   #footer-picture {
      max-width: 100%;
      padding: 0px;
   }
}  
