body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;
}

header {
	display: flex;
}
#header-pic-and-name {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}
#header-picture {
	height: auto;
	display: block;
}
#header-pic-name{
	position: absolute;
	color: white;
	font-size: 32px;
	font-weight: bolder;
	margin: 0;
	padding: 10px;
	z-index: 1 /* make sure it stays above background*/
}
#header-content {
	padding: 32px;
	flex: 1;
}
